.footer {
	padding: r(40) 0;
	background-color: #E8E4C9;
	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;
		column-gap: r(10);
		img {
			max-width: 100%;
			width: 40px;
			height: 40px;
		}
	}
	&__title {
		font-family: "Georama", sans-serif;
		font-weight: 700;
		text-align: center;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(34, 24);
		margin-bottom: r(15);
	}
}